body {
    background-color: #FEF7FB;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

h1#title {
    font-size: 2.2em;
    margin: 20px 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.boxResultat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
    text-align: center;
}

.elemInResult {
    width: 100%;
}

.elemInResult p {
    font-size: 1.2em;
    margin: 15px 0;
    color: #555;
    line-height: 1.6;
}

.elemInResult img.photo {
    max-width: 200px; 
    height: auto; 
    border-radius: 10px;
    margin: 20px 0; 
}

.elemInResult em {
    display: block;
    margin-top: 20px;
    font-size: 1em;
    font-style: italic;
    color: #777;
}

.elemInResult a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #FEE9F5;
    color: #333;
    text-decoration: none;
    font-size: 1em;
    border-radius: 20px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    font-weight: bold;
}

.elemInResult a:hover {
    background-color: #fcd1e5;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.love-advice-button {
    margin-top: 20px;
    text-align: center;
}

.btn-love-advice {
    display: inline-block;
    background-color: #EFBFDD;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-love-advice:hover {
    background-color: #EFBFDD;
    transform: scale(1.1);
}
